# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Misc
*.log
